.home {
  /* background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  min-height: 100vh; */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
   */
  background-color: #fce4ec;
}

.pet-list__main {
  min-height: calc(100vh - 185px);
}

.tamano {
  max-width: 20%;
  padding-right: 20px;
  padding-left: 20px;
}

.x {
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
}

.title {
  color: #550691;
  font-weight: 700;
}

.texto {
  font-weight: 400;
  font-size: 16px;
}

.backed {
  background-color: #f2f2f2;
}
