.header__brand-link {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(190, 190, 190);
}
.back {
  background-color: rgb(209, 119, 158);
}
