.link-table {
  text-decoration: none;
  color: #d15b0d;
}
.link-table:hover {
  color: #e67f3b;
  text-decoration: underline;
}

.titulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}

.admin-pet__main {
  min-height: calc(100vh - 185px);
  background-color: #fce4ec;
}

.admin-pet__main-container {
  background-color: #ffff;
  padding: 0px 15px;
}
