.cont {
  background-color: #d1789f;
}
.text {
  font-size: 1.2rem;
}
.text-contact {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(231, 231, 231);
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
}

.p-2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  text-decoration: none;
  color: #1e1e1f;
  font-size: 1rem;
}

.p-2:hover {
  color: azure;
  cursor: pointer;
}
